* {
  box-sizing: border-box;
}

.drawable {
  padding-top: 100px;
}

#game-canvas {
  
  display: block;
  position: relative;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid black;
}


#sprite {
  display: none;
}
